<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label 'Recipe Name' %>
  <%= f.text_field :name %><br>
  <%= f.label 'Description' %>
  <%= f.text_field :description %><br>
  <%= text_field_tag :amount %>

  <%= select :ingredient_recipe, :unit, options_for_select(%w[teaspoon tablespoon cup ounce pound pint quart gallon liter gram unit]), include_blank: true %>
  <%= select :ingredient, 1, @ingredients, {}, class: 'ingredient'%>
  <%= select :ingredient, 2, @ingredients, {}, class: 'ingredient'%>
  <%= hidden_field_tag :ingredients, ' ', class: 'ingredients' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
