<%= form_for(@dietary_restriction) do |f| %>
  <% if @dietary_restriction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dietary_restriction.errors.count, "error") %> prohibited this dietary_restriction from being saved:</h2>

      <ul>
      <% @dietary_restriction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Choose one of our popular lists:
  <%= f.select(:existing_filter, options_for_select(%w[vegan vegetarian gluten-free pescetarian paleo nut-free legume-free]), include_blank: true %>)
  <%= f.submit %>

<% end %>
