<!DOCTYPE html>
<html>
<head>
  <title>Epicookbook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "semantic-ui.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='header'>
    <div id='logo'>
      <%= link_to(image_tag('logo.jpg', :alt => "logo", :title => "Welcome"),"/") %>
    </div>
    <div id='login'>
      <% if current_user.present? %>
          Hi there, <%= current_user.username.titleize %>
          <div class='ui purple button'>
            <%= link_to "Sign Out", sessions_path, :method => :delete %>
          </div>
      <% else %>
        <div class='ui purple button'>
          <%= link_to "Sign Up", :controller => "users", :action => "new" %>
        </div>
        <div class='ui purple button'>
          <%= link_to "Log In", :controller => "sessions", :action => "new" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='ui purple inverted vertical menu'>
    <a class='item' href='/recipes'>Recipes</a>
    <a class='item' href='/ingredients'>Ingredients</a>
  </div>


  <div class='contents'>
    <%= yield %>
  </div>

</body>
</html>
